NPFaq/Service References/MatchServiceReference/MatchService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPFaq.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPFaq.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="attach">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="attach" nillable="true" type="tns:attach" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfmatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="match" nillable="true" type="tns:match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmatch" nillable="true" type="tns:ArrayOfmatch" />
  <xs:complexType name="match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndSign" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sponsor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSign" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="match" nillable="true" type="tns:match" />
  <xs:complexType name="ArrayOfteam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="team" nillable="true" type="tns:team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfteam" nillable="true" type="tns:ArrayOfteam" />
  <xs:complexType name="team">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Introduce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChecked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsResultChecked" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MatchID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamLeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamMembers" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="team" nillable="true" type="tns:team" />
  <xs:complexType name="ArrayOfattach">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attach" nillable="true" type="tns:attach" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfattach" nillable="true" type="tns:ArrayOfattach" />
</xs:schema>