NPFaq/Service References/TestServiceReference/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPFaq.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPFaq.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOffaq_category">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="faq_category" nillable="true" type="tns:faq_category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffaq_category" nillable="true" type="tns:ArrayOffaq_category" />
  <xs:complexType name="faq_category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="faq_question" nillable="true" type="tns:ArrayOffaq_question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faq_category" nillable="true" type="tns:faq_category" />
  <xs:complexType name="ArrayOffaq_question">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="faq_question" nillable="true" type="tns:faq_question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffaq_question" nillable="true" type="tns:ArrayOffaq_question" />
  <xs:complexType name="faq_question">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsSolved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questioner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="faq_answer" nillable="true" type="tns:ArrayOffaq_answer" />
      <xs:element minOccurs="0" name="faq_attach" nillable="true" type="tns:ArrayOffaq_attach" />
      <xs:element minOccurs="0" name="faq_category" nillable="true" type="tns:faq_category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faq_question" nillable="true" type="tns:faq_question" />
  <xs:complexType name="ArrayOffaq_answer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="faq_answer" nillable="true" type="tns:faq_answer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffaq_answer" nillable="true" type="tns:ArrayOffaq_answer" />
  <xs:complexType name="faq_answer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Answerer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="faq_question" nillable="true" type="tns:faq_question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faq_answer" nillable="true" type="tns:faq_answer" />
  <xs:complexType name="ArrayOffaq_attach">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="faq_attach" nillable="true" type="tns:faq_attach" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffaq_attach" nillable="true" type="tns:ArrayOffaq_attach" />
  <xs:complexType name="faq_attach">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answerer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faq_question" nillable="true" type="tns:faq_question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faq_attach" nillable="true" type="tns:faq_attach" />
  <xs:complexType name="ArrayOffaq_user">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="faq_user" nillable="true" type="tns:faq_user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffaq_user" nillable="true" type="tns:ArrayOffaq_user" />
  <xs:complexType name="faq_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="faq_user" nillable="true" type="tns:faq_user" />
</xs:schema>